/**
 * General vars
 */

// colors
$primary-color: #909083;
$secondary-color: #ff0000;
$background-color: #ffffff;
$border-color: #f1f1f1;


// sizes
$clock-size: 20em;
$clock-border: 0.3em;
$small-frame-width: 0.1em; 
$small-frame-height: 0.5em; 
$small-frame-spacing: 0.5em;
$big-frame-width: 0.15em; 
$big-frame-height: 1.3em; 
$big-frame-spacing: 0.3em; 
$hours-hand-height: 30%;
$minutes-hand-height: 40%;
$seconds-hand-height: 46%;